# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
HuGDK/Link
HuGDK/HuXDev12/新規 テキスト ドキュメント.txt
HuGDK/HuXDev12/x64
HuGDK/HuXDev12/packages
HuGDK/HuXDev12/DirectX12AffinityLayer
HuGDK/HuXDev12/DirectXTK12
HuGDK/HuXDev12/DirectXTK9
HuGDK/HuXDev12/MainProject/x64
HuGDK/HuXDev12/.vs
HuGDK/HuXDev12/MainProject/Scenes/新規 テキスト ドキュメント.txt
HuGDK/HuXDev12/MainProject/Classes/DirectX/新規 テキスト ドキュメント.txt
HuGDK/HuXDev12/MainProject/Classes/CreateResources/(クラスひな形）.cpp
HuGDK/HuXDev12/MainProject/Classes/CreateResources/(クラスひな形）.h
HuGDK/HuXDev12/Physics Demo.sln
HuGDK/HuXDev12/External
HuGDK/HuXDev12/MainProject.vcxproj
HuGDK/HuXDev12/MainProject.vcxproj.filters
HuGDK/HuXDev12/MainProject.vcxproj.user
HuGDK/HuXDev12/packages.config
HuGDK/HuXDev12/Resource
HuGDK/HuXDev12/MainProject/Scenes/DontDestroyOnLoad.h
HuGDK/HuXDev12/MainProject/Scenes/TemplateScene